@import "base/_general.scss";
@import "base/_fonts.scss";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

$color-yellow: #f1cd76;
$color: #5c1e05;

body {
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  color: #121212;
  background-color: #1f1f1f;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

