@import "base/_general.scss";
@import "smart-grid.scss";

// БЭМ-блоки
@import "../blocks/modules";

.wrapper {
  @include wrapper();
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #121212;
  background-color: #1f1f1f;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;

  .wrapper {
    @include md-block() {
      padding: 0;
    }
  }

  &-inner {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 48px;
    background-color: #e9e9e9;
    padding: 40px 48px 8px;
    box-sizing: border-box;

    @include md-block() {
      grid-auto-flow: row;
      padding: 24px 20px 0;
    }

    @include xxs-block() {
      grid-auto-flow: row;
      padding: 24px 0 0;
    }
  }
}

.tooltip {
  width: 248px;
  opacity: 0.78;
  background-color: #000000;
  display: none;
  padding: 14px 18px;
  position: absolute;
  border-radius: 6px;
  color: #d3d3d3;

  h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &::after {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(0, 0, 0, 0.78);
    bottom: -12px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 0;
  }
}

.link-more {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  color: #444444;

  &:hover {
    text-decoration: none;
  }

  @include md-block() {
    display: none;
  }
}

