.main__aside {
    @include md-block {
        margin: auto;

        &__block {
            margin-bottom: 30px;

            &:nth-child(1) {
                display: none;
            }
        }
    }

    @include xxs-block {
        width: 100%;

        &__block {
            margin-bottom: 0;
        }
    }

    width: 338px;
}