<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
<!--
    *********HEADER*******
-->
<header class="header">
    <div class="header-mobile">
        <div class="wrapper">
                <div class="header-mobile__nav">
                    <div class="header-mobile__button">
                        <div class="header-mobile__button--line"></div>
                        <div class="header-mobile__button--line"></div>
                        <div class="header-mobile__button--line"></div>
                    </div>
                    <form class="search">
                        <input type="search" id="search" class="search__input" placeholder="Search...">
                        <label for="search" class="fa-solid fa-magnifying-glass search__label"></label>
                    </form>
                </div>
        </div>
        <div class="header-mobile__title">
            <h1>ParrotWings Exchange</h1>
        </div>
    </div>
    <nav class="mobile-menu">
        <ul class="mobile-menu__inner">
            <li class="mobile-menu__inner--item"><a href="#">Home</a></li>
            <li class="mobile-menu__inner--item"><a href="#">Credits</a></li>
            <li class="mobile-menu__inner--item"><a href="#">Exchange</a></li>
            <li class="mobile-menu__inner--item"><a href="#">Partners</a></li>
            <li class="mobile-menu__inner--item"><a href="#">Stock</a></li>
            <li class="mobile-menu__inner--item"><a href="#">Holding</a></li>
            <li class="mobile-menu__inner--item"><a href="#">About</a></li>
        </ul>
    </nav>
    <nav class="nav">
        <div class="wrapper">
            <ul class="nav__inner">
                <li class="nav__inner--item"><a href="#">Home</a></li>
                <li class="nav__inner--item"><a href="#">Credits</a></li>
                <li class="nav__inner--item"><a href="#">Exchange</a></li>
                <li class="nav__inner--item"><a href="#">Partners</a></li>
                <li class="nav__inner--item"><a href="#">Stock</a></li>
                <li class="nav__inner--item"><a href="#">Holding</a></li>
                <li class="nav__inner--item"><a href="#">About</a></li>
            </ul>
        </div>
    </nav>
</header>
<!--
    *********MAIN*******
-->
<main class="main">
    <div class="wrapper">
        <div class="main-inner">
            <div class="main__content">
                <div class="main__content__header">
                    <h1 class="main__content__header--title">ParrotWings Exchange</h1>
                    <form class="search">
                        <input type="search" id="search" class="search__input" placeholder="Search...">
                        <label for="search" class="fa-solid fa-magnifying-glass search__label"></label>
                    </form>
                </div>
                <h2 class="main__content--subtitle">Products</h2>
                <div class="products-items">
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-1.webp" type="image/webp">
                                <img src="img/parrot-1.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">2 props</h4>
                        <h3 class="products-items__item--title">Unlimited exchange</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-2.webp" type="image/webp">
                                <img src="img/parrot-2.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">1 prop</h4>
                        <h3 class="products-items__item--title">International excha...</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-3.webp" type="image/webp">
                                <img src="img/parrot-3.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">3 props, all</h4>
                        <h3 class="products-items__item--title">Additional services</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-4.webp" type="image/webp">
                                <img src="img/parrot-4.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">5 props</h4>
                        <h3 class="products-items__item--title">Support</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-5.webp" type="image/webp">
                                <img src="img/parrot-5.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">2 props</h4>
                        <h3 class="products-items__item--title">Holiday works</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-6.webp" type="image/webp">
                                <img src="img/parrot-6.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">not in access</h4>
                        <h3 class="products-items__item--title">Postal delivery</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-7.webp" type="image/webp">
                                <img src="img/parrot-7.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">2 props</h4>
                        <h3 class="products-items__item--title">Document manag...</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                    <div class="products-items__item">
                        <div class="products-items__item--pic">
                            <picture>
                                <source srcset="img/parrot-8.webp" type="image/webp">
                                <img src="img/parrot-8.jpg" alt="pic" width="111px" height="156px">
                            </picture>
                        </div>
                        <h4 class="products-items__item--subtitle">1 prop</h4>
                        <h3 class="products-items__item--title">Promotions</h3>
                        <a href="#" class="products-items__item--link">Order
                            <div class="tooltip">
                                <h6>Popup header</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#" class="link-more">
                    <span>More products...</span>
                </a>
            </div>
            <aside class="main__aside">
                <div class="main__aside__block">
                    <h3 class="main__aside__block--title">Sign Up</h3>
                    <form class="form">
                        <input class="form__input" type="text" placeholder="Sign Up"/>
                        <input class="form__input" type="password" placeholder="Last Name"/>
                        <input class="form__input" type="text" placeholder="Email"/>
                        <p class="form__message">By creating a PW Exchange Account you acknowledge that
                            you have read, understood and agree to the <a href="#">Terms of Use</a>
                            and <a href="#">Privacy Policy.</a></p>
                        <button class="form__btn">Sign Up</button>
                    </form>
                </div>
                <div class="main__aside__block main__aside__block--preloader">
                    <h3 class="main__aside__block--title">Online Monitor</h3>
                    <form class="form">
                        <div class="preloader">
                            <img src="img/preloader.svg" alt="pic" width="64px">
                            <p>Loading...</p>
                        </div>
                        <button class="form__btn">Connect</button>
                    </form>
                </div>
            </aside>
        </div>
    </div>
</main>

<!--
    *********FOOTER*******
-->
<footer class="footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="footer__social">
                <div class="footer__social__links">
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-evernote"></i>
                    </a>
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </a>
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#" class="footer__social__links--link">
                        <i class="fa-brands fa-github-alt"></i>
                    </a>
                </div>
                <h3 class="h3"><span>©</span> Parrot Wings</h3>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <nav class="footer__nav-items">
            <div class="lists">
                <ul class="footer__nav-items__item">
                    <li class="footer__nav-items__item--title">Recruitment Info</li>
                    <li class="footer__nav-items__item--item">
                        Candidate First Name: Username
                    </li>
                    <li class="footer__nav-items__item--item">
                        Candidate Last Name: Username
                    </li>
                    <li class="footer__nav-items__item--item">
                        Spent Time: X hours
                    </li>
                    <li class="footer__nav-items__item--item">
                        Email: username@server.name
                    </li>
                    <li class="footer__nav-items__item--item">
                        Test date: dd.mm,yyyy
                    </li>
                </ul>
                <ul class="footer__nav-items__item">
                    <li class="footer__nav-items__item--title">Resources</li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Loader icon - search on Fontello.com</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Icons - Entypo</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Fonts - search in this file</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Background - standart situation:<br>
                            designer lose file</a>
                    </li>
                </ul>
                <ul class="footer__nav-items__item">
                    <li class="footer__nav-items__item--title">Navigation</li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Navigation</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Application</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">Holding</a>
                    </li>
                    <li class="footer__nav-items__item--item">
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="footer__nav-items__desc">
                <picture class="footer__nav-items__desc--pic">
                    <source srcset="img/icons-browser.webp" type="image/webp">
                    <img src="img/icons-browser.png" alt="pic" width="191px" height="25px">
                </picture>
                <div class="footer__nav-items__desc--text">Project should work on next stack:
                    IE11, actual version of Firefox, Chrome
                    on desktop and android, Opera (opera mini),
                    Safari on mac and ios.
                </div>
            </div>
        </nav>
        <h3 class="h3-mobile"><span>©</span> Parrot Wings</h3>
    </div>
</footer>
<script src="https://kit.fontawesome.com/23b4085b53.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>

</html>