.content {
    @include md-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }

    box-sizing: border-box;

    &__header {
        @include xs-block {
            display: none;
        }

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 4px;

        &--title {
            font-family: Oswald, sans-serif;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 300;
            color: #121212;
        }
    }

    &--subtitle {
        @include md-block {
            margin-top: 0;
            margin-bottom: 24px;
            padding-left: 26px;

            &::before {
                left: 0;
            }
        }

        @include xxs-block {
            margin-left: 15px;
        }

        position: relative;
        margin: 16px 0 33px;
        font-family: Oswald, sans-serif;
        font-size: 26px;
        line-height: 1.2;
        font-weight: 300;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 7px;
            left: -26px;
            width: 19px;
            height: 8px;
            background-color: #933435;
        }
    }
}