.footer {
  flex: 0 0 auto;
  background-color: #181818;

  &-top {
    background-color: #151515;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 47px 10px;

    @include md-block() {
      padding: 37px 0  22px;
    }

    &__links {
      width: 66%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include md-block() {
        width: 100%;

        &--link {
          font-size: 32px;
        }
      }

      &--link {
        font-size: 52px;
        color: #444444;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 300;
      letter-spacing: -0.025em;
      color: #444444;

      @include md-block() {
        display: none;
      }

      span {
        font-size: 32px;
      }
    }
  }

  &__nav-items {
    display: flex;
    justify-content: space-between;
    padding: 20px 47px 30px;

    @include md-block() {
      flex-wrap: wrap;
      padding: 20px 0 54px;
    }

    .lists {
      display: flex;
      justify-content: space-between;
      width: 61%;

      @include md-block() {
        width: 100%;
      }

      @include xs-block() {
        flex-wrap: wrap;
      }
    }

    &__desc {
      width: 24%;
      margin-top: auto;
      text-align: right;
      letter-spacing: -0.025em;
      color: #5c5c5c;

      @include md-block() {
        width: 100%;
        text-align: center;
        margin-top: 60px;
      }

      &--text {
        margin-top: 20px;
      }
    }

    &__item {
      font-family: 'Oswald', sans-serif;

      @include xs-block() {
        width: 100%;
        text-align: center;
        margin-bottom: 54px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &--title {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 300;
        letter-spacing: -0.025em;
        color: #444444;
      }

      &--item {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 300;
        color: #bbbbbb;

        a {
          color: #bbbbbb;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .h3-mobile {
    display: none;

    @include md-block() {
      display: block;
      padding-bottom: 53px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 300;
      letter-spacing: -0.025em;
      color: #444444;
    }
  }
}